/* Reset
/* ---------------------------------------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 22px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--color-base);
    font-family: var(--font-serif);
    font-style: normal;
    background: #fff;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
select,
textarea {
    font: inherit;
    -webkit-appearance: none;
}

hr {
    position: relative;
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px solid currentcolor;
    opacity: 0.2;
}

::selection {
    text-shadow: none;
    background: #cbeafb;
}

mark {
    background-color: #fdffb6;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

a {
    color: var(--color-primary);
    text-decoration-skip-ink: auto;
}

svg {
    height: 1rem;
    width: 1rem;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
